defusedxml 
numpy 
anyascii 
fastapi 
transformers 
torch 
langchain-huggingface 
huggingface_hub 
transformers 
accelerate 
bitsandbytes 
langchain 
python-dotenv 
streamlit 
pytesseract 
PyMuPDF 
opencv-python 
numpy 
torchvision 
camelot-py[cv]
easyocr
